.main{
    background-color: black;
}
#main-header{
    width: 100%;
    height: 110px;
    background-color: #1e2222;
}
#logo-tcs{
    padding-left: 30px;
}
/* INCOMPLETED   */
ul.nav{
    position: absolute;
    top: 29px;
    left: 196px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    word-spacing: 2px;
    list-style-type: none;
    color: #ffffff;
}
ul.nav a{
    text-decoration: none;
}
.nav li{
    padding-left: 40px;
}
.nav li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.list1 {
    color: rgb(166, 166, 166);
    font-size: 15px;
}
/* TILL HERE */
#logo2{
    position: absolute;
    right: 35px;
    top: 25px;
}
#logosearch{
    position: absolute;
    right: 127px;
    top: 25px;
    cursor: pointer;
}
body{
    background-color: black;
    margin: 0;
}
#image{
    text-align: center;
    
}
#para1{
    padding-left: 40px;
    color: aliceblue;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
#snapshots{
    color: aliceblue;
    font-size: xx-large;
    margin-top: 50px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#stories{
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}
#div3{
    width: 50%;
}

#para3{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-style: normal;
    color: #c0c0c0;
}
#para2{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-style: normal;
    color: #ffffff;
    float: left;
}
#divpos{
    position: absolute;
    right: 100px;
    height: 62%;
    width: 25%;
    background-color: #1e2222;
}
/*  BUTTONS */
#backButton{
    position: absolute;
    bottom: 14px;
    left: -5px;
    cursor: pointer;
}
#frontButton{
    position: absolute;
    bottom: 20px;
    right: 0px;
    cursor: pointer;
}
#buttontext{
    position: absolute;
    bottom: -10px;
    left: 15px;
    color: #ffffff
}
#buttontext2{
    position: absolute;
    bottom: -12px;
    right: 40px;
    color: #ffffff;
}
/* TILL HERE */
#para4{
    align-items: center;
    padding-top: 10%;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 45px;
    font-style: normal;
}

/*insights*/
#insights{
    clear: both;
    height: 80px;
    padding-top: 200px;
}
#insightsby{
    color: #ffffff;
    font-size: 50px;
    margin-left: 40px;
}

#view{
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    align-items: center; 
    position: relative;
    bottom: 80px;
    font-size: 30px;
}
/*till here*/

#blockad{
    padding-top: 20px;
    height: 800px;
}

/* Images */
#img1{
    background-image: url("images/techgirlaa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    float: right;
    margin-right: 27px;
}
#futurepara a{
    color: #ffffff;
    text-decoration: none;
}
#futurepara{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 269px;
    padding-left: 27px; 
    padding-right: 27px;
    font-size: 40px;
}

#img2{
    background-image: url("images/blockchainss.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}
#blockchain a{
    text-decoration: none;
    color: #ffffff;
}
#blockchain {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 320px;
    padding-left: 20px;
    font-size: 40px;
}
/* till here */

#explore{
    height: 1000px;
}
#exploreHead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #ffffff;
    margin-left: 40px;

}
#imgexplore{
    margin-left: 10%;
    margin-right: 12%;
    background-image: url("images/cardphone1.jpg");
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
}
#banks{
    color: #ffffff;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 60px;
    padding-top: 70px;
}
.submit a{
    color: #ffffff;
    text-decoration: none;
}
.submit li{
    list-style: none;
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    border: 3px solid;
    height: 65px;
    color: #ffffff;
}

#whoarewe{
    background-color: #ffffff;
    height: 1100px;
}
#imgboy{
    background-image: url("images/boyyoung.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
#inside{
    background-color: #ffffff;
    width: 80%;
    position: relative;
    top: 327px;
    
}
#parawhite1{
    padding-top: 34px;
    margin-left: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    color: #6e6e6e;
}
#parawhite2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 32px;
    font-size: 65px;
    color: rgb(190, 53, 3);
}
#parawhite3{
    padding-top: 34px;
    margin-left: 32px;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    color: #6e6e6e;
}
#getknow{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 32px;
    margin-top: 58px;
    font-size: 32px;
    font-weight: bold;
    color: black;
    float: left;
}
#back{
    padding-top: 42px;
    padding-left: 21px;
    height: 61px;
    width: 62px;
}
/*end White Theme*/

#darkthemestart{
    background-color: #212529;
    height: 120%;
    text-align: center;
}
#shape{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95px;
    font-style: italic;
    margin: 0;
    padding-top: 140px;
}
#balshape{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-left: 100px;
    padding-right: 100px;
    font-style: normal;
    color: #a1a1a1;
}
ul.myul a{
    color: #ffffff;
    text-decoration: none;
}
ul.myul{
    display: inline-block;
    border-radius: 50px;
    border: double 5px transparent;
    background-image: linear-gradient(102.57deg,#dc0916,#f41fd6 100%,#f41fd6 0);
    width: 350px;
    height: 80px;
}
.myul li{
    padding-right: 30px;
    list-style: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    font-size: 40px;
}
/*footer starts*/

#footer{
    height: 400px;
    background-color: black;
}
#footer1{
    padding-left: 60px;
    padding-top: 55px;
    display: flex;
}
ul.footerlist a{
    text-decoration: none;
    color: #ffffff;
}
ul.footerlist a:hover{
    text-decoration: underline;
    color: #ffffff;
}
ul.footerlist{
    list-style: none;
    padding-top: 16px;
    color: #ffffff;
    padding-left: 143px;
    display: flex;
}
.footerlist li{
    cursor: pointer;
    font-size: 23px;
    flex-direction: row;
    margin-right: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
#paraF{
    position: absolute;
    right: 73px;
    color: #ffffff;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    cursor: pointer;
}
/*ICONS*/
#icons{
    padding-top: 50px;
    padding-left: 65px;
}
#icons a{
    color: #ffffff;
    font-size: 30px;
    padding-top: 50px;
}

.fa-brands {
    padding-left: 10px;
}
.fa-youtube{
    padding-left: 95px;
}
.fa-twitter{
    padding-left: 95px;
}
.fa-linkedin-in{
    padding-left: 95px;
}
.fa-instagram{
    padding-left: 95px;
} 

#copyright{
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 250px;
    align-items: center; 
    position: relative;
    bottom: 40px;
    font-size: px;
}